@import "../../settings.scss";

.product-details {
  .btn_back {
    position: absolute;
    background-color: $accent;
    padding: 1rem;
    color: white;
    transition: all 0.3s ease-in;

    &:hover {
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      transform: translate(-2px, -2px);
    }
  }
}

@media (min-width: 1025px), (orientation: landscape) and (min-width: 1024) {
  .product-details {
    .btn_back {
      top: 20px;
    }
  }
}
