@import "../../settings.scss";

.product {
  background-color: white;
  height: 100%;
  overflow-y: scroll;

  &.fullScreen {
    height: 100vh;
  }

  .content {
    display: grid;
    align-items: center;
    justify-items: center;

    .img {
      width: 100%;
    }

    .header {
      color: $lightBlack;
      font-weight: bold;
    }

    .details {
      display: grid;
      justify-items: center;
      padding: 1.25rem 0;

      .detail {
        padding: 0.5rem;
      }

      .header {
        font-size: 0.9rem;
      }
    }

    .price {
      color: $primary;
      font-size: 1.3rem;
      position: relative;

      .decimal {
        font-size: 0.9rem;
        position: absolute;
      }
    }
  }

  &.quick-view {
    cursor: pointer;
    overflow: hidden;
    height: 100%;

    &:hover {
      .content {
        transform: scale(1.1, 1.1);
      }
    }
    .content {
      grid-template-rows: auto 127px;
      height: 100%;
      transition: all 0.3s ease-out;
    }
  }

  &.detailed {
    // min-height: 100vh;
    display: grid;
    align-content: center;

    .content {
      .name {
        font-size: 2rem;
        width: 100%;
      }

      .description {
        text-align: justify;
        font-size: 0.8rem;
        width: 18rem;
        max-height: 3.6rem;
        overflow-y: scroll;
      }
    }
  }
}

@media (min-width: 768px) {
  .product {
    &.detailed {
      .content {
        .description {
          font-size: 1.5rem;
          width: 40rem;
        }

        .price {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (min-width: 1025) {
  .product {
    &.detailed {
      .content {
        .img {
          width: auto;
          max-height: calc(100vh - 28rem);
        }
      }
    }
  }
}

@media (max-width: 768), (orientation: landscape) {
  .product {
    &.detailed {
      .content {
        .img {
          width: auto;
          max-height: calc(100vh - 9rem);
        }
      }
    }
  }
}

@media (min-width: 1025px), (orientation: landscape) and (min-width: 1024) {
  .product {
    &.detailed {
      padding: 0 2rem;

      .content {
        .img {
          width: auto;
          max-height: calc(100vh - 28rem);
        }
      }
    }
  }
}
